* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: 'Poppins', sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
}

li {
  font-size: 1.5em;
}
